<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"></properties>
    <typeAliases>
        <typeAlias type="com.desk8432.project.dto.MemberDTO" alias="MemberDTO" />
        <typeAlias type="com.desk8432.project.dto.DuplicateDTO" alias="DuplicateDTO" />
        <typeAlias type="com.desk8432.project.dto.InsertDTO" alias="InsertDTO" />
        <typeAlias type="com.desk8432.project.dto.UpdateEmailDTO" alias="UpdateEmailDTO" />
        <typeAlias type="com.desk8432.project.dto.UpdateImageUrlDTO" alias="UpdateImageDTO" />
        <typeAlias type="com.desk8432.project.dto.UpdateIntroductionDTO" alias="UpdateIntroductionDTO" />
        <typeAlias type="com.desk8432.project.dto.UpdateNicknameDTO" alias="UpdateNicknameDTO" />
        <typeAlias type="com.desk8432.project.dto.UpdatePasswordDTO" alias="UpdatePasswordDTO" />
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="member.xml"/>
        <mapper resource="duplicate.xml"/>
        <mapper resource="insert.xml" />
        <mapper resource="update.xml" />
    </mappers>
</configuration>