.group-item {
    width: 100%;
    list-style: none;
    display: flex;
}

.group-item > .right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.group-item > .right > * {
    font-size: 12px;
}

.group-item > .right > h2 {
    font-size: 18px;
}

.group-item .img-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.group-item .img-container > svg {
    fill: #f9f9fb;
    width: 60%;
    height: 60%
}

.group-item .img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.group-item .img-container.active > img {
    display: block;
}

.group-item .img-container.active > svg {
    display: none;
}
