.group-item {
    width: 100%;
    list-style: none;
    display: flex;
}
.group-item > .left{
    display: flex;
    align-items: center;
}
.group-item > .right > .info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.group-item > .right{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.button{
    padding-top: 10px;
}
.group-item > .right > * {
    font-size: 12px;
}

.group-item > .right > h2 {
    font-size: 16px;
}

.group-item .img-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #909090;
}

.group-item .img-container > svg {
    fill: #f9f9fb;
    width: 60%;
    height: 60%;
}

.group-item .img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.group-item .img-container.active > img {
    display: block;
}

.group-item .img-container.active > svg {
    display: none;
}

