@import "variables.css";

.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 20px;
}

.header .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}

.header .search-btn {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
.header .search-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.header .search-btn:before,
.header .search-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.header .search-btn:before {
    height: 0%;
    width: 2px;
}
.header .search-btn:after {
    width: 0%;
    height: 2px;
}
.header .search-btn:hover{
    background: transparent;
    box-shadow: none;
}
.header .search-btn:hover:before {
    height: 100%;
}
.header .search-btn:hover:after {
    width: 100%;
}
.header .search-btn span:hover{
    color: rgba(2,126,251,1);
}
.header .search-btn span:before,
.header .search-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.header .search-btn span:before {
    width: 2px;
    height: 0%;
}
.header .search-btn span:after {
    width: 0%;
    height: 2px;
}
.header .search-btn span:hover:before {
    height: 100%;
}
.header .search-btn span:hover:after {
    width: 100%;
}

.header-container {
    width: 100%;
}

.header .search > .search-box {
    margin: 0;
}

@media (max-width: 575px) {
    .header .search > .search-box {
        display: none;
    }
}

.header .search > search-btn {
    margin: 0;
}

.header .avatar {
    width: var(--avatar-diameter);
    height: var(--avatar-diameter);
    border-radius: 50%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}

.header .avatar.active > svg {
    display: none;
}

.header .avatar.active > .avatar-img {
    display: block;
}

.header .avatar > .avatar-img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .header-dropdown {
    position: absolute;
    top: calc(var(--header-height) + 8px);
    right: calc(var(--header-dropdown-menu-width) * 0.3 * -1);
    width: var(--header-dropdown-menu-width);
}

.header .dropdown-menu > .disabled {
    display: none;
}

.header .dropdown-menu li {
    user-select: none;
    cursor: pointer;
}

.header form.search {
    margin: 0;
}

.header .right {
    gap: 16px;
}