@import "variables.css";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

div.popover[role=tooltip] {

}

.jalendar {
    --color-invalid: #f44336;
    --color-valid: #66bb6a;
    --color-warning: #ffa726;
    --color-primary: #0d6efd;
    --color-default: #909090;
}

.jalendar * {
    font-family: 'Pretendard-Regular';
}

.jalendar a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

.jalendar .fc-day-sun a {
    color: red;
}

.jalendar .fc-daygrid-day-top {
    /* 날짜부분 정렬 왼쪽으로*/
    flex-direction: row;
}

.jalendar * {
    border: 0 !important;
}

.jalendar td[role=gridcell] {
    border: 1px solid rgb(221, 221, 221) !important;
}

.jalendar .fc-daygrid-day-top > a{
    /* 날짜부분 */
    font-size: 12px;
}

.jalendar a.fc-event {
    /* 이벤트 */
    padding: 2px 4px !important;
    font-size: 12px !important;
}

.jalendar .fc-scrollgrid-sync-inner {
    text-align: left;
}

.jalendar .fc-scrollgrid-sync-inner > a {
    font-size: 12px;
}

.jalendar .fc-toolbar-chunk > div {
    /* 달력 및 이전 달, 다음 달 표시*/
    display: flex;
    gap: 16px;
    align-items: center;
}

.jalendar .fc-toolbar-chunk > div > .fc-prev-button, .jalendar .fc-toolbar-chunk > div > .fc-next-button {
    background-color: #fff;
    color: var(--color-default);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    user-select: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.jalendar .fc-toolbar-chunk > div > .fc-prev-button:active,
.jalendar .fc-toolbar-chunk > div > .fc-next-button:active {
    background-color: #ffffff;
    color: #000;
    outline: none;
}

.jalendar .fc-toolbar-chunk > div > .fc-prev-button:focus,
.jalendar .fc-toolbar-chunk > div > .fc-next-button:focus {
    outline: none;
}

.jalendar .fc-toolbar-title {
    font-weight: bold;
}

.jalendar .jpopover {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: darkcyan;
}