@import "variables.css";

.mypage-container {
    display: flex;
    justify-content: center;
    --color-invalid: #f44336;
    --color-valid: #66bb6a;
    --color-warning: #ffa726;
    --color-primary: #0d6efd;
    --color-default: #909090;
    --border-radius: 4px;
    --panel-size: 700px;
}

.mypage-container > .mypage-form {
    padding: 16px 0;
    margin: 0;
    width: var(--profile-form-width);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.mypage-form  .profile-img-wrapper {
    background-color: #909090;
    border-radius: 50%;
    width: var(--profile-img-diameter);
    height: var(--profile-img-diameter);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.profile-img-container {
    position: relative;
}

.profile-img-wrapper > * {
    cursor: pointer;
}

.profile-img-wrapper > svg {
    width: calc(var(--profile-img-diameter) * 0.8);
    height: calc(var(--profile-img-diameter) * 0.8);
}

.profile-img-wrapper.active > svg {
    display: none;
}

.profile-img-wrapper > img#profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.profile-img-wrapper.active > img#profile-img {
    display: block;
}

input#profile-img-input {
    display: none;
}

label[for="profile-img-input"] {
    display: none;
    position: absolute;
}

label[for="profile-img-input"] > svg {
    fill: #505050;
}

.profile-img-wrapper:hover > label[for="profile-img-input"] {
    display: block;
}

.profile-info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.profile-info-list > li.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
}

.profile-info-list > li.item * {
    font-size: 16px;
}

.profile-info-list > li.item > div {
    display: flex;
    align-items: center;
}

.profile-info-list > li.item .submit {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius);
    font-size: 14px;
    border: 0;
    padding: 8px;
}