@import "variables.css";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}


.mypage-container {
    display: flex;
    justify-content: center;
    --color-invalid: #f44336;
    --color-valid: #66bb6a;
    --color-warning: #ffa726;
    --color-primary: #0d6efd;
    --color-default: #909090;
    --border-radius: 4px;
    --panel-size: 700px;
}

.mypage-container * {
    font-family: "Pretendard-Regular";
}

.mypage-container > .mypage-form {
    padding: 64px 0;
    margin: 0;
    width: var(--profile-form-width);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.mypage-form  .profile-img-wrapper {
    background-color: #909090;
    border-radius: 50%;
    width: var(--profile-img-diameter);
    height: var(--profile-img-diameter);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.profile-img-container {
    position: relative;
}

.profile-img-wrapper > * {
    cursor: pointer;
}

.profile-img-wrapper > svg {
    width: calc(var(--profile-img-diameter) * 0.8);
    height: calc(var(--profile-img-diameter) * 0.8);
}

.profile-img-wrapper.active > svg {
    display: none;
}

.profile-img-wrapper > img#profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.profile-img-wrapper.active > img#profile-img {
    display: block;
}

input#profile-img-input {
    display: none;
}

label[for="profile-img-input"] {
    display: none;
    position: absolute;
}

label[for="profile-img-input"] > svg {
    fill: #505050;
}

.profile-img-wrapper:hover > label[for="profile-img-input"] {
    display: block;
}

.profile-info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-info-list > li.item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
}

.profile-info-list > li.item * {
    font-size: 16px;
}

.profile-info-list > li.item > div {
    display: flex;
    align-items: center;
}

.profile-info-list > li.item .submit {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius);
    font-size: 14px;
    border: 0;
    padding: 8px;
}

.profile-info-list > li.item  input {
    border: 0;
    border-bottom: 1px solid #505050;
}

.profile-info-list > li.item  input:focus {
    outline: none;
}

.profile-info-list > li.item > .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-info-list > li.item > .top  input {
    border: 0;
    border-bottom: 1px solid var(--color-default);
    width: 75%;
}

.profile-info-list > li.item > .top > label {
    display: flex;
    width: 100%;
    gap: 12px;
    color: var(--color-default);
}

.profile-info-list > li.item .edit-btn {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.profile-info-list > li.item .edit-btn > svg {
    fill: var(--color-default);
}

.profile-info-list > li.item .name {
    color: var(--color-default);
}

li.item.nickname, li.item.email {
    display: flex;
    flex-direction: column;
}

.profile-info-list > li.item > .top {
    margin-bottom: 4px;
}

.profile-info-list > li.item label.message {
    font-size: 14px;
}

.profile-info-list > li.item.valid label.message {
    color: var(--color-valid);
}

.profile-info-list > li.item.valid input {
    border-bottom: 1px solid var(--color-valid);
}

.profile-info-list > li.item.invalid label.message {
    color: var(--color-invalid);
}

.profile-info-list > li.item.invalid input {
    border-bottom: 1px solid var(--color-invalid);
}

.profile-info-list > li.item.introduction {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-info-list > li.item.introduction > .top > label {
    display: flex;
    flex-direction: column;
}

.profile-info-list > li.item.introduction > .bottom > button.submit {
    margin-left: auto;
}

.profile-info-list > li.item.introduction textarea.introduction {
    width: 100%;
    resize: none;
    border: 1px solid var(--color-default);
    border-radius: var(--border-radius);
    padding: 8px;
}

.profile-info-list > li.item.introduction textarea.introduction:focus {
    outline: none;
}


.item.delete-member {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.item.delete-member > .top {
    display: flex;
    justify-content: space-between;
}

.item.delete-member > .bottom {
    display: none;
}

.item.delete-member > .bottom > .delete-btn-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.item.delete-member > .bottom > .delete-btn-group > button {
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.item.delete-member > .bottom > label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #f44336;
}

.item.delete-member > .bottom > label > input {
    border: 1px solid var(--color-default);
    border-radius: var(--border-radius);
    font-size: 16px;
    padding: 8px;
}

.item.delete-member.active > .bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.item.delete-member.active > .top > .delete-btn {
    display: none;
}

.item.delete-member .delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    /*align-self: flex-end;*/
    min-width: 120px;
}

.item.delete-member

.item.delete-member .delete-btn:hover {
    background-color: #c0392b;
}
