@import "variables.css";

.groupSearch-container {
    display: flex;
    justify-content: center;
    --color-invalid: #f44336;
    --color-valid: #66bb6a;
    --color-warning: #ffa726;
    --color-primary: #0d6efd;
    --color-default: #909090;
    --border-radius: 4px;
}
.groupSearch-container >.list > h2 {
    text-align: center;
}

.groupSearch-container .group-img {
    background-color: #909090;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.groupSearch-container ul.list{
    width: 640px;
}

.groupSearch-container .showMoreButton{
    display: flex;
}

