@import "variables.css";

.groupSearch-container {
    display: flex;
    justify-content: center;
    --color-invalid: #f44336;
    --color-valid: #66bb6a;
    --color-warning: #ffa726;
    --color-primary: #0d6efd;
    --color-default: #909090;
    --border-radius: 4px;
}

.group-container{
    margin: 30px;
    background-color: #B4B4B8;
    width: 65%;
    max-width: 1100px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    padding: 10px;
}
.group-info{
    width: 45%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
.group-info > ul{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.group-info > ul > .group-name{
    font-size: 30px;
}
.group-info > ul > .group-editor{
    margin-bottom: 10px;
}
.group-info > ul > .group-createdAt{

}
.btn-primary{
    margin: 30px;
    margin-right: 80px;
    height: 50px;
    width: 60px;
    text-align: center;
}

.group-img {
    background-color: #909090;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.groupSearch-container ul.list{
    width: 640px;
}

.groupSearch-container .showMoreButton{
    display: flex;
}

