@import "variables.css";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

.signin-container * {
    font-family: "Pretendard-Regular";;
}

.signin-container {
    height: 100vh;
    display: flex;
    position: relative;
    --color-invalid: #f44336;
    --color-valid: #66bb6a;
    --color-warning: #ffa726;
    --color-primary: #0d6efd;
    --color-default: #909090;
    --border-rdius: 4px;
    --panel-size: 700px;
}

.signin-container h1 {
    font-size: 40px !important;
}

.signin-form {
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 0 84px;
    box-sizing: content-box;
    gap: 20px;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.signin-form > h1 {
    font-weight: bold;
    color: #000;
}

.signin-form > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 8px 0;
}

.signin-form > .logo > img {
    display: block;
}

.signin-input-group {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--color-default);
    gap: 4px;
}

.signin-input-group > input {
    border: 0;
    border-bottom: 1px solid var(--color-default);
    font-size: 16px;
    padding: 4px;
}

.signin-input-group > input:focus {
    outline: none;
}

.signin-submit-btn {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-rdius);
    font-size: 14px;
    border: 0;
    padding: 8px;
}

.signin-container > .bg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 300px;
}

.signin-container > .bg > .panel {
    width : var(--panel-size);
    height :  var(--panel-size);
    overflow : hidden;
    display : flex;
    align-items : center;
    justify-content: center;
}

.signin-container > .bg > .panel > img {
    width : 100%;
    height : 100%;
    object-fit : cover;
    display: block;
}

.signin-container .signup-btn {
    background-color: transparent;
    color: var(--color-primary);
    border-radius: var(--border-rdius);
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid var(--color-primary);
    padding: 8px;
}

.panel {
    transform:
            rotateX(51deg)
            rotateZ(43deg);
    transform-style: preserve-3d;
    border-radius: 16px;
    box-shadow:
            1px 1px 0 1px #f9f9fb,
            -1px 0 28px 0 rgba(34, 33, 81, 0.01),
            28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition:
            .4s ease-in-out transform,
            .4s ease-in-out box-shadow;

    &:hover {
        transform:
                translate3d(0px, -16px, 0px)
                rotateX(51deg)
                rotateZ(43deg);
        box-shadow:
                1px 1px 0 1px #f9f9fb,
                -1px 0 28px 0 rgba(34, 33, 81, 0.01),
                54px 54px 28px -10px rgba(34, 33, 81, 0.15);
    }
}


@media (max-width: 600px) {
    .signin-container {
        justify-content: center;
    }
    .signin-form {
        position: relative;
        box-shadow: none;
    }
    .signin-container > .bg {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .signin-container {
        justify-content: center;
    }
    .signin-form {
        position: relative;
        box-shadow: none;
    }
    .signin-container > .bg {
        display: none;
    }
}

/* 큰 디바이스 (데스크탑) */
@media (min-width: 1025px) {

}

