@import "variables.css";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.signup-container * {
    font-family: "Pretendard-Regular";;
}

.signup-container {
    height: 100vh;
    display: flex;
    --color-invalid: #f44336;
    --color-valid: #66bb6a;
    --color-warning: #ffa726;
    --color-primary: #0d6efd;
    --color-default: #909090;
    --border-rdius: 4px;
}

.signup-container > .bg {
    flex-grow: 1;
    background-color: darkcyan;
}

.signup-container > .bg > img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.signup-form {
    width: 320px;
    display: flex;
    flex-direction: column;
    padding: 0 84px;
    box-sizing: content-box;
    gap: 6px;
    height: 100%;
    justify-content: center;
    margin: 0;
}

.signup-form > h1 {
    font-weight: bold;
}

.signup-input-group {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: var(--color-default);
    gap: 4px;
}

.signup-input-group > input {
    border: 0;
    border-bottom: 1px solid var(--color-default);
    font-size: 16px;
    padding: 4px;
}

.signup-input-group > input:focus {
    outline: none;
}

.signup-input-group > .input-msg {
    font-size: 14px;
    user-select: none;
}

.signup-input-group.valid > input {
    border-bottom: 1px solid var(--color-valid);
}

.signup-input-group.valid > .input-msg {
    color: var(--color-valid);
}

.signup-input-group.invalid > input {
    border-bottom: 1px solid var(--color-invalid);
}

.signup-input-group.invalid > .input-msg {
    color: var(--color-invalid);
}

.signup-submit-btn {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-rdius);
    font-size: 14px;
    border: 0;
    padding: 8px;

}

textarea.signup-input {
    border: 1px solid var(--color-default);
    padding: 4px;
    resize: none;
    border-radius: var(--border-rdius);

}

textarea.signup-input:focus {
    outline: none;
}

