:root {
    --header-height : 64px;
    --avatar-diameter: 48px;
    --profile-img-diameter: 250px;
    --profile-form-width: 480px;
    --header-dropdown-menu-width: 250px;
    --group-img-diameter : 120px;
}

@media (max-width: 575px) {
    :root {
        --group-img-diameter : 80px;
    }
}